$font-serif: YakuHanJP, "garamond-premier-pro", "hiragino-mincho-pron", serif;

$font-hiragino-serif: YakuHanJP, "hiragino-mincho-pron", serif;
$font-hiragino-sanserif: YakuHanJP, "hiragino-kaku-gothic-pron", sans-serif;