section#thanks {
    padding: 10rem 0 20rem 0;
    box-sizing: border-box;

    .container {
        width: 1200px;
        max-width: 90%;
        margin: 0 auto;
        text-align: center;

        p {
            @include fontsize(24);
            font-weight: 600;
        }

        a {
            background-color: #DC5B8C;
            color: #fff;
            padding: 2rem 1rem;
            box-sizing: border-box;
            width: 300px;
            max-width: 90%;
            margin: 0 auto;
            display: block;
            @include fontsize(20);
            font-weight: 600;
            margin-top: 2rem;
        }
    }
}