@charset "utf-8";

@use 'sass:math';

$sm: 600px;
$md: 769px;
$lg: 990px;
$xl: 1921px;
@mixin break($breakPoint) {
  @media (min-width: ($breakPoint)) {
    @content;
  }
}

@mixin sm-fz-vw($size) {
  $win-w: 375; // 画面幅を設定する

  font-size: math.div($size, $win-w) * 100 + vw;
}

/*
20250923 追加
*/

/* フッター固定メニュー */
#mid-under-menu {
  .container {
    a {
      position: relative;

      .speech-bubble {
        position: absolute;
        z-index: 1;
        top: -1.8em;
        left: 50%;
        transform: translateX(-50%);
        padding: 0.2em 1.2em;
        border: 1px solid #ccc;
        border-radius: 10em;
        background-color: #fff;
        white-space: nowrap;
        font-size: 14px;
        pointer-events: none;
      }

      &.booking-area,
      &.line-area {
        padding-top: 0.5em;
      }
    }
  }
}

@media (width <= 768px) {
  #mid-under-menu {
    .container {
      a {
        &.tel-area {
          width: calc(50% - 50px);

          .inner .tel-no {
            letter-spacing: 0.05em;
            font-size: min(3.8vw, 24px);
          }
        }

        &.booking-area,
        &.line-area {
          padding-top: 0.5em;
          width: 25%;
        }

        .speech-bubble {
          top: -1.6em;
          padding: 0.2em 0.7em;
          font-size: min(2.6vw, 12px);
        }
      }

      .under-menu {
        height: 55px;
      }
    }
  }
}

/* Gナビ サブメニュー */
@media (width <= 1300px) {
  #header-pc .container .lower nav.header-nav {
    .gnav-sub-menu-trigger {
      > span {
        font-size: 14px;
        font-size: 1.4rem;
      }
    }
  }
}

#header-pc .container .lower nav.header-nav {
  > ul {
    > li:hover {
      ul {
        li {
          a {
            color: #333;
          }
        }
      }
    }
  }

  .gnav-sub-menu-trigger {
    > span {
      cursor: pointer;
      transition: color 0.5s;

      &:hover {
        color: #dc5b8c;
      }
    }

    &:hover {
      .gnav-sub-menu {
        visibility: visible;
        opacity: 1;
        transition:
          opacity 0.3s ease,
          visibility 0.3s ease;
      }
    }
  }

  .gnav-sub-menu {
    display: flex;
    visibility: hidden;
    opacity: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 30px 12%;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(255 255 255 / 90%);
    transition:
      opacity 0.1s ease,
      visibility 0.1s ease;

    li {
      position: relative;
      padding: 0 1em 0.5em;
      width: calc(100% / 3);

      &::before {
        content: '';
        position: absolute;
        top: 10px;
        left: 0;
        width: 6px;
        height: 1px;
        background-color: #333;
      }

      a {
        font-size: 15px;

        &:hover {
          color: #dc5b8c;
        }
      }
    }
  }
}

/* ドロワーメニュー サブメニュー */
header#header-sp .container .header-menu-body {
  height: 100vh;
  height: 100svh;
}

#header-sp .container .header-menu-body {
  .inner {
    padding-bottom: 90px;

    .menu-grp {
      .dm-sub-menu-trigger {
        button {
          display: block;
          position: relative;
          padding: 0;
          width: 100%;
          border: none;
          background-color: transparent;
          text-align: left;
          color: #dc5b8c;
          font-family: YakuHanJP, garamond-premier-pro, hiragino-mincho-pron, serif;
          font-size: 22px;
          font-weight: 600;
          cursor: pointer;
          -webkit-tap-highlight-color: transparent;

          &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translate(0, -50%) rotate(45deg);
            width: 10px;
            height: 10px;
            border-right: 2px solid #dc5b8c;
            border-bottom: 2px solid #dc5b8c;
            transition: transform 0.3s ease-in-out;
          }

          &.is-active {
            &::after {
              transform: translate(0, -50%) rotate(225deg);
            }
          }
        }

        .dm-sub-menu {
          overflow: hidden;
          max-height: 0;
          transition: max-height 0.6s ease-in-out;

          li {
            position: relative;
            margin-bottom: 0.4em;
            padding: 0 0 0 0.7em;
            line-height: 1.2;

            &:first-child {
              margin-top: 20px;
            }

            &::before {
              content: '';
              position: absolute;
              top: 13px;
              left: 0;
              width: 6px;
              height: 1px;
              background-color: #333;
            }

            a {
              color: #333;
              font-size: 18px;
              font-weight: 400;
            }
          }
        }

        &:hover {
          a {
            &::before {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}

@media (width <= 500px) {
  #header-sp .container .header-menu-body .inner .menu-grp {
    .dm-sub-menu-trigger {
      button {
        font-size: 18px;

        &::after {
          width: 8px;
          height: 8px;
        }
      }

      .dm-sub-menu {
        li {
          margin-bottom: 0.6em;

          &:first-child {
            margin-top: 15px;
          }

          &::before {
            top: 12px;
          }

          a {
            font-size: 16px;
          }
        }
      }
    }
  }
}

/* 監修医情報 */
.c-writer {
  margin-bottom: 80px;
}

.c-writer-inner {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 25px;
  width: 1000px;
  max-width: 90%;
  border: 1px solid #ccc;
}

.c-writer-title {
  margin: 0 0 30px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
}

.c-writer-img {
  overflow: hidden;
  margin: 0 auto 20px;
  width: 70%;
  height: auto;
  border-radius: 100%;
  aspect-ratio: 1 / 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 10%;
  }
}

.c-writer-clinic-name {
  margin-bottom: 5px;
  text-align: center;
  font-size: 16px;
}

.c-writer-name {
  margin-bottom: 25px;
  text-align: center;
  font-size: 22px;
}

.c-writer-text {
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  line-height: 2;

  span {
    display: block;
    font-size: 18px;
    font-weight: bold;
  }
}

.c-writer-link {
  text-align: right;

  a {
    position: relative;
    text-decoration: underline;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -1.3em;
      transform: translate(0, -50%) rotate(45deg);
      width: 8px;
      height: 8px;
      border-top: 1px solid #b79648;
      border-right: 1px solid #b79648;
    }
  }
}

@include break($md) {
  .c-writer {
    margin-bottom: 100px;
  }

  .c-writer-inner {
    padding: 50px 60px;
  }

  .c-writer-title {
    margin: 0 0 40px;
    text-align: left;
    font-size: 22px;
  }

  .c-writer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .c-writer-img {
    margin: 0;
    width: 35%;
  }

  .c-writer-textbox {
    width: 60%;
  }

  .c-writer-clinic-name {
    margin-bottom: 5px;
    text-align: left;
    font-size: 18px;
  }

  .c-writer-name {
    margin-bottom: 25px;
    text-align: left;
  }

  .c-writer-text {
    span {
      font-size: 18px;
    }
  }
}

/*
20251003 追加
*/
.home-fv {
  overflow: hidden;
  padding: 120px 0 15px;
  background: linear-gradient(180deg, #fff 0%, #fbfbfb 70.19%, #f5f3f3 100%);

  .swiper {
    opacity: 0;
    transition: opacity 0.5s;

    &.swiper-initialized {
      opacity: 1;
    }
  }
}

.home-fv-inner {
  margin: 0 auto;
  width: 90.233%;
}

.home-fv-slider {
  margin-bottom: 15px;
}

.home-fv-slider-item,
.home-fv-thumbnail-item-inner {
  overflow: hidden;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;

  a {
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
}

.home-fv-thumbnail-wrapper {
  position: relative;
}

.home-fv-thumbnail {
  margin: 0 auto;
  width: 75.2577%;

  &.no-swiper {
    opacity: 1;
    transition-delay: 0.4s;

    .home-fv-thumbnail-list {
      display: flex;
      gap: 6.8494%;
      transform: none !important;
    }

    .home-fv-thumbnail-item {
      width: 28.7671%;
    }
  }
}

.home-fv-thumbnail-item {
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  &.is-active .home-fv-thumbnail-item-inner {
    opacity: 1;
    border-color: #dc5b8c;
  }
}

.home-fv-thumbnail-item-inner {
  opacity: 0.6;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 0.42em;
  transition: opacity 0.2s, border-color 0.2s;
}

.home-fv-thumbnail-button-wrapper {
  display: flex;
  opacity: 0;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 96%;
  transition: opacity 0.5s;

  &.swiper-initialized {
    opacity: 1;
  }

  &.is-disabled {
    display: none;
  }

  .home-fv-thumbnail-button-next,
  .home-fv-thumbnail-button-prev {
    overflow: visible;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 0;
    width: 6%;
    height: auto;
    aspect-ratio: 1/1;
    -webkit-tap-highlight-color: transparent;

    img {
      display: block;
      overflow: visible;
      width: 100%;
      height: 100%;
    }

    &::after {
      display: none;
    }
  }
}

@include break($md) {
  .home-fv {
    padding: 130px 0 35px;
  }
  .home-fv-inner {
    max-width: 1620px;
  }
  .home-fv-slider {
    margin-bottom: 30px;
  }
  .home-fv-slider-item,
  .home-fv-thumbnail-item-inner {
    aspect-ratio: 134/55;

    a {
      transition: opacity 0.5s;

      &:hover {
        opacity: 0.8;
      }
    }
  }
  .home-fv-thumbnail {
    width: 68.8645%;

    .swiper-slide {
      border-radius: 0.5em;
    }

    &.no-swiper {
      .home-fv-thumbnail-list {
        gap: 2.66%;
      }
      .home-fv-thumbnail-item {
        width: 23%;
      }
    }
  }
  .home-fv-thumbnail-item-inner {
    border-radius: 0.5em;
  }
  .home-fv-thumbnail-button-wrapper {
    width: 80%;

    .home-fv-thumbnail-button-next,
    .home-fv-thumbnail-button-prev {
      width: 2.2883%;
    }
  }
}

@media (width >= 1201px) {
  .home-fv {
    padding: 30px 0 35px;
  }
}

/* 20251013 追加 */
main#top section#menu {
  padding: 8rem 0 12rem;

  .container .title {
    margin-bottom: 4rem;
  }
}

.home-menu-tab-btn-wrapper {
  display: flex;
  gap: 2px;
}

.home-menu-tab-btn {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 4em;
  padding: 0.3em 0 0;
  font-family: YakuHanJP, garamond-premier-pro, hiragino-mincho-pron, serif;
  font-size: 4vw;
  font-weight: 600;
  line-height: 1.4;
  color: #333;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-radius: 8px 8px 0 0;
  transition: background-color 0.3s ease, color 0.3s ease;
  -webkit-tap-highlight-color: transparent;

  &.is-active {
    color: #fff;
    background-color: #dc5b8c;
  }
}

.home-menu-tab-content-wrapper {
  padding: 30px 5%;
  border: 2px solid #dc5b8c;
}

.home-menu-tab-content {
  display: none;
  transition: opacity 0.3s ease;

  &.is-active {
    display: block;
  }
}

.home-menu-item {
  font-size: 4.2666666667vw;

  &:not(:last-child) {
    margin-bottom: 2em;
  }
}

.home-menu-item-title {
  margin-bottom: 1em;
  text-align: center;

  span {
    display: block;
  }

  .jp {
    line-height: 1;
    color: #dc5b8c;
  }

  .en {
    font-size: 10.1333333333vw;
    line-height: 1;
  }
}

.home-menu-item-thumb {
  width: 100%;
  height: auto;
  aspect-ratio: 1/0.65;
  margin-bottom: 1.5em;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.home-menu-item-list {
  li {
    &:not(:last-child) {
      margin-bottom: 0.7em;
    }

    a {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 3em;
      padding: 0 2em;
      font-weight: 600;
      line-height: 1;
      color: #333;
      text-align: center;
      background-color: #fff;
      border-radius: 10em;

      i {
        position: absolute;
        top: 50%;
        right: 1em;
        color: #333;
        transition: right 0.5s;
        transform: translateY(-50%);
      }
    }
  }
}

@include break($md) {
  main#top section#menu {
    padding: 10rem 0;

    .container .title {
      margin-bottom: 6rem;
    }
  }
  .home-menu-tab-btn-wrapper {
    gap: 3px;
  }
  .home-menu-tab-btn {
    font-size: 18px;
  }
  .home-menu-tab-content-wrapper {
    padding: 50px 5%;
  }
  .home-menu-item {
    flex: 1;
    font-size: 16px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
  .home-menu-item-title {
    margin-bottom: 1em;

    .jp {
      font-size: 18px;
    }

    .en {
      font-size: 56px;
    }
  }
  .home-menu-item-thumb {
    margin-bottom: 2em;
  }
  .home-menu-tab-content-inner {
    display: flex;
    gap: 3%;
    justify-content: center;
  }
  .home-menu-item-list {
    li {
      &:not(:last-child) {
        margin-bottom: 0.8em;
      }

      a {
        height: 3.2em;

        &::before {
          display: inline-block;
          height: 0.2em;
          content: "";
        }

        &:hover i {
          right: 0.7em;
        }
      }
    }
  }
  .home-menu-item-treatment,
  .home-menu-item-machine {
    .home-menu-item-thumb {
      max-width: 310px;
      margin: 0 auto 2em;
    }

    .home-menu-item-list {
      display: flex;
      flex-wrap: wrap;
      gap: 1%;

      li {
        width: 32.3333333333%;
      }
    }
  }
}

main#top section#case {
  overflow-x: hidden;

  .container .title {
    margin-bottom: 4rem;
  }

  .banner-area {
    max-width: 800px;
    margin: 0 auto;
  }
}

.home-case {
  position: relative;
  margin-bottom: 3em;
  font-size: 4.2666666667vw;

  .home-case-button-prev,
  .home-case-button-next {
    position: absolute;
    top: 11em;
    z-index: 10;
    cursor: pointer;

    &::after {
      font-size: 2em;
      color: #333;
    }
  }

  .home-case-button-prev {
    left: -1em;
  }

  .home-case-button-next {
    right: -1em;
  }

  .home-case-pagination {
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
  }

  .swiper-pagination-bullet-active {
    background: #dc5b8c;
  }
}

.home-case-list {
  padding-bottom: 2.5em;

  &.swiper {
    overflow: visible;
  }
}

.home-case-item {
  box-sizing: border-box;
  padding: 1.5em 5%;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

  .img-before-after {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2em;

    .before,
    .after {
      width: 49%;
      transition: opacity 0.5s;

      span {
        display: block;
        margin-bottom: 0.5em;
        font-weight: 600;
        text-align: center;
      }

      .img-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        aspect-ratio: 1/0.9;
        overflow: hidden;
        background: #eee;
      }
    }
  }

  .archive-case-img {
    margin-bottom: 1em;
  }

  .case-cat {
    display: inline-block;
    padding: 0.2em 1rem;
    margin-bottom: 1em;
    font-size: 3.2vw;
    color: #caa846;
    border: 1px solid #caa846;
  }

  .case-ttl {
    margin-bottom: 1em;
    font-size: 4.2666666667vw;
    font-weight: 600;
  }

  .case-risk {
    background-color: #eee;

    .risk-lbl {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 2.3em;
      font-size: 4vw;
      font-weight: 600;
      cursor: pointer;

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        right: 1em;
        width: 1em;
        height: 1px;
        content: "";
        background: #333;
        transition: transform 0.25s;
      }

      &::before {
        transform: translateY(-50%);
      }

      &::after {
        transform: translateY(-50%) rotate(90deg);
      }

      &.is-show {
        &::before {
          transform: translateY(-50%) rotate(45deg);
        }

        &::after {
          transform: translateY(-50%) rotate(135deg);
        }
      }
    }

    .risk-txt {
      box-sizing: border-box;
      height: 0;
      overflow: hidden;
      font-size: 3.2vw;
      text-align: left;
      visibility: hidden;
      opacity: 0;

      &.is-show {
        height: auto;
        padding: 1em;
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

@include break($md) {
  main#top section#case .container .title {
    margin-bottom: 6rem;
  }
  .home-case {
    margin-bottom: 4em;
    font-size: 16px;

    .home-case-button-prev {
      left: -2em;
    }

    .home-case-button-next {
      right: -2em;
    }
  }
  .home-case-list {
    padding-bottom: 3em;
  }
  .home-case-item {
    padding: 25px 20px;

    .case-cat {
      padding: 0.4em 1rem 0.2em;
      font-size: 12px;
    }

    .case-ttl {
      font-size: 16px;
    }

    .case-risk {
      .risk-lbl {
        font-size: 15px;
      }

      .risk-txt {
        font-size: 12px;
      }
    }
  }
}

@media (width >= 901px) {
  .home-case .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 8px !important;
  }
  .home-case-inner {
    max-width: 1200px;
    padding: 1em 10px;
    margin: 0 auto;
    overflow-x: hidden;
  }
  .home-case-list {
    max-width: 1200px;
    padding-bottom: 3em;
  }
}

.js-sc-trigger {
  opacity: 0;
  transition: opacity 0.8s, transform 0.8s;
  transform: translateY(50px);

  &.is-show {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 20251202 追加 */
.case-detail-img {
  padding-bottom: 36px;
  margin-bottom: 20px;

  &.is-single {
    padding-bottom: 0;

    .case-detail-img-prev,
    .case-detail-img-next,
    .case-detail-img-pagination {
      display: none;
    }
  }
}

.case-detail-img-item {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.case-detail-img-prev,
.case-detail-img-next {
  width: 26px;
  height: auto;
  aspect-ratio: 1/1;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

  &::after {
    position: absolute;
    top: 50%;
    width: 8px;
    height: auto;
    aspect-ratio: 1/1;
    color: #dc5b8c;
    content: "";
    border-top: 2px solid #dc5b8c;
    transform: rotate(45deg);
  }
}

.case-detail-img-prev::after {
  left: 10px;
  border-left: 2px solid #dc5b8c;
  transform: translateY(-50%) rotate(-45deg);
}

.case-detail-img-next::after {
  right: 10px;
  border-right: 2px solid #dc5b8c;
  transform: translateY(-50%) rotate(45deg);
}

.case-detail-img-pagination {
  bottom: 0 !important;

  .swiper-pagination-bullet {
    background-color: #ccc;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: #dc5b8c;
  }
}

@include break($md) {
  .case-detail-img {
    padding-bottom: 46px;
    margin-bottom: 30px;
  }
  .case-detail-img-prev,
  .case-detail-img-next {
    width: 36px;

    &::after {
      width: 10px;
    }
  }
  .case-detail-img-prev::after {
    left: 14px;
  }
  .case-detail-img-next::after {
    right: 14px;
  }
  .case-detail-img-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}

.archive-case {
  padding: 2.2rem !important;
}

.archive-case-img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  background: #eee;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

@include break($md) {
  .archive-case {
    padding: 3rem !important;
  }
}

/* 20251226 追加 */
.price-tbl-link-wrap {
  flex-wrap: wrap;
}

.price-tbl-link {
  width: 100%;
  padding-top: 20px;

  .price-tbl-link-item {
    text-align: center;

    a {
      position: relative;
      box-sizing: border-box;
      display: inline-block;
      padding: 1em 2em 0.8em;

      &::after {
        position: absolute;
        top: 50%;
        right: 1em;
        width: 6px;
        aspect-ratio: 1/1;
        content: "";
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }

  .price-tbl-link-item-01 {
    margin-bottom: 10px;

    a {
      width: 90%;
      color: #dc5b8c;
      border: 1px solid #dc5b8c;

      &::after {
        border-top: 1px solid #dc5b8c;
        border-right: 1px solid #dc5b8c;
      }
    }
  }

  .price-tbl-link-item-02 a {
    width: 90%;
    color: #fff;
    background-color: #dc5b8c;

    &::after {
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
    }
  }

  &.is-bdt {
    border-top: 1px solid #ccc;
  }
}

@include break($md) {
  .price-tbl-link {
    padding-top: 30px;

    .price-tbl-link-item a {
      padding: 1em 3em 0.8em 2em;
      transition: opacity 0.5s;

      &::after {
        width: 8px;
      }

      &:hover {
        opacity: 0.8;
      }
    }

    .price-tbl-link-item-01 {
      margin-bottom: 15px;

      a {
        width: auto;
      }
    }

    .price-tbl-link-item-02 a {
      max-width: 400px;
    }
  }
}

/*
20260115 追加
*/
.home-campaign-bnr {
  padding: 4rem 0 0;
}

.home-campaign-bnr-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem 4%;
  width: 90%;
  margin: 0 auto;
}

.home-campaign-bnr-item {
  width: 48%;

  a {
    display: block;
    -webkit-tap-highlight-color: transparent;
  }
}

.home-campaign-bnr-popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.home-campaign-bnr-popup-item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  transform: translate(-50%, -50%);

  img {
    max-width: 100%;
    max-height: 90vh;
  }
}

.home-campaign-bnr-popup-close {
  position: absolute;
  top: -40px;
  right: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 5;
  -webkit-tap-highlight-color: transparent;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 24px;
    content: "";
    background-color: #fff;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@include break($md) {
  .home-campaign-bnr {
    padding: 8rem 0 0;
  }
  .home-campaign-bnr-list {
    gap: 1.5em 2%;
    max-width: 1200px;
  }
  .home-campaign-bnr-item {
    width: 23.5%;
  }
  .home-campaign-bnr-popup-item {
    max-width: 540px;

    img {
      max-height: 85vh;
    }
  }
}
